{%capture code %}{% include {{ include.file }} %}{%endcapture%}
<pre class="highlight"><code>{{code | replace: "set", '<span class="k">set</span>'
			     | replace: "param", '<span class="k">param</span>'
			     | replace: "var", '<span class="k">var</span>'
			     | replace: "maximize", '<span class="k">maximize</span>'
			     | replace: "minimize", '<span class="k">minimize</span>'
			     | replace: "s.t.", '<span class="k">s.t.</span>'
			     | replace: "and", '<span class="k">and</span>'
			     | replace: "else", '<span class="k">else</span>'
			     | replace: "mod", '<span class="k">mod</span>'
			     | replace: "union", '<span class="k">union</span>'
			     | replace: "by", '<span class="k">by</span>'
			     | replace: "if", '<span class="k">if</span>'
			     | replace: "not", '<span class="k">not</span>'
			     | replace: "within", '<span class="k">within</span>'
			     | replace: "for", '<span class="k">for</span>'
			     | replace: "default", '<span class="k">default</span>'
			     | replace: "integer", '<span class="k">integer</span>'
			     | replace: "binary", '<span class="k">binary</span>'
			     | replace: "symbolic", '<span class="k">symbolic</span>'
			     | replace: "for", '<span class="k">for</span>'
			     | replace: "check", '<span class="k">check</span>'
			     | replace: "table", '<span class="k">table</span>'
			     | replace: "sum", '<span class="k">sum</span>'
			     | replace: "prod", '<span class="k">prod</span>'
			     | replace: "data;", '<span class="k">data;</span>'
			     | replace: "end;", '<span class="k">end;</span>'
			     | replace: "solve", '<span class="k">solve</span>'
			     | replace: "forall", '<span class="k">forall</span>'
			     | replace: "display", '<span class="k">display</span>'
			     | replace: "printf", '<span class="k">printf</span>'
			     | replace: "table", '<span class="k">table</span>'
			     | replace: "IN", '<span class="k">IN</span>'
			     | replace: "OUT", '<span class="k">OUT</span>'}}</code></pre>
