// Layout
//
// Styles for managing the structural hierarchy of the site.
.container {
    max-width: 50rem;
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    margin-left:  auto;
    margin-right: auto;
    background: white;
    min-height: 30rem;
}

.content {
    //min-height: 20rem;
}

.post {
    max-width: 38rem;
    border-right: 8px,solid;
}

.toc {
    position: fixed;
    float: right;
    padding-left: 40rem;
    color: #a9a9a9;
    font-size: 15px;
}

li.toc-entry a {
    color: #a9a9a9;
    font-size: 15px;
    &:hover,
    &:focus {
	text-decoration: underline;
	color: blue
    }
}

.copyright {
    background-color: cornsilk;
    font-size: smaller;
}

.copyright p {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    margin-bottom: 2rem;
}

.post-date {
    font-size: smaller;
    color: gray;    
}
