// Layout
//
// Styles for managing the structural hierarchy of the site.
.container {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
    margin-left: 5%;
    margin-right: 20%;
    margin-top: 0;
    background: white;
    min-height: 30rem;
}

.content {
    //min-height: 20rem;
}

.centre {
    //max-width: 50rem;
    padding-left: 12rem;
}

.post {
    margin-left: 10%;
}

.toc {
    max-width: 100rem;
    position: fixed;
    float: left;
    color: #a9a9a9;
    font-size: 15px;
}
@media screen and (max-width: 980px) {
    .container {
	margin-left: 0%;
	margin-right: 0%;
    }

    .centre {
	padding-left: 0;
    }

    .post {
	margin-left: 0%;
    }

    .toc {
	display: none;
    }
}


li.toc-entry a {
    color: #a9a9a9;
    font-size: 15px;
    &:hover,
    &:focus {
	text-decoration: underline;
	color: blue
    }
}

.copyright {
    background-color: cornsilk;
    font-size: smaller;
}

.copyright p {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    margin-bottom: 2rem;
}

.post-date {
    font-size: smaller;
    color: gray;    
}
