<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a> |
	  <a href="/feed.xml" class="rss">RSS</a>
        </h3>
        <small>{{ site.tagline }}</small>
      </header>
      
      <hr>
      <div class="content">
      {{ content }}
      </div>
      <hr>
      
      <div>
	<small>友情链接:<small>
	{% for friend in site.friends %}
	<a href="{{ friend.url }}">{{ friend.name }}</a>
	{% endfor %}
      </div>
      
      <footer>
        &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </footer>
    </div>
  </body>
</html>
