<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
      <header class="masthead centre">
        <h3 class="masthead-title">
            {{ site.title }} |
            <a href="/" title="Home">文章列表</a> |
	    <a href="/feed.xml" class="rss">RSS</a>
        </h3>
        <small>{{ site.tagline }}</small>
      </header>
      
      <hr>
      <div class="content">
      {{ content }}
      </div>
      <hr>
      
      <div class="centre">
	<small>友情链接:<small>
	{% for friend in site.friends %}
	<a href="{{ friend.url }}">{{ friend.name }}</a>
	{% endfor %}
      </div>
      
      <footer class="centre">
        &copy; {{ site.time | date: '%Y' }}. All rights reserved.
      </footer>
    </div>
  </body>
</html>
